#include <stdio.h> 

int main(){


//Pozitif Mantık 1

int harcama,bonus=0;

printf("Bir değer giriniz: ");
scanf("%d",&harcama);

if(harcama>2000){

    bonus=100;

}


else {

    if (harcama>1000)
    {
        bonus=50;
    }
    
    else
    {
        bonus=10;
    }
    
    
}

printf("Bonus: %d",bonus);


    return 0;
}


